.f1 {
    background-color: rgb(4, 155, 4);
}
.f2c1 {
    background-color: rgb(4, 4, 4);
}
.f2c2 {
    background-color: teal;
}
.f2c3 {
    background-color: blue;
}
.f2c4 {
    background-color: navy;
}
.f2c5 {
    background-color: lime;
}
.f2c6 {
    background-color: white;
}
.f3c1 {
    background-color: purple;
}
.f3c2 {
    background-color: yellow;
}
.f3c3 {
    background-color: olive;
}
.f3c4 {
    background-color: red;
}
.f3c5 {
    background-color: brown;
}
.f3c6 {
    background-color: gray;
}
.f4c1 {
    background-color: olive;
}
.f4c2 {
    background-color: red;
}
.f4c3 {
    background-color: fuchsia;
}
.f4c4 {
    background-color: green;
}