caption {
    font-size: medium;
}
.n1 {
    color: black;
}
.n2 {
    color: teal;
}
.n3 {
    color: blue;
}
.n4 {
    color: navy;
}
.n5 {
    color: lime;
}
.n6 {
    color: white;
}
.n7 {
    color: purple;
}
.n8 {
    color: yellow;
}
.n9 {
    color: olive;
}
.n10 {
    color: red;
}
.n11 {
    color: maroon;
}
.n12 {
    color: grey;
}
.n13 {
    color: fuchsia;
}
.n14 {
    color: green;
}
.n15 {
    color: aqua;
}
.n16 {
    color: silver;
}
